body {
    background-color: #4a0000;
    margin: 0;
    font-family: Georgia, serif

}

.player-column {
    width: 30%;
    height: 97%;
    position: absolute;
    background-color: beige;
    border: 1px solid black;
    margin: 10px;
}

.player-column-lane {
    position: absolute;
    width: 50%;
    height: 100%;
}

.name-tag {
    height: 9.5%;
    width: calc(100% - 40px);
    margin: 10px;
    border: 1px solid grey;
    text-align: left;
    font-size: 2em;
    background-color: white;
    padding: 0 10px;
}

.name-tag:first-child {
    margin-top: 6px;
}

.name-tag-name {
    text-align: center;
    font-size: 1.12vw;
    font-weight: bold;
    visibility: visible !important;
}

.name-tag-title div {
    visibility: hidden;
    width: 100%;
    background-color: white;
    border: grey 1px solid;
    border-radius: 0 0 10px 10px;
    margin-top: -1px;
    font-size: 1.12vw;
    font-weight: bold;
}

.name-tag-placing {
    width: 50% !important;
    text-align: center;
    margin-left: 16.67%;

}


.name-tag-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.name-tag-ticket-area {
    margin: auto;
}

.name-tag-ticket-area-wrapper {
    display: flex;
    height: calc(100% - 1.12vw);
    align-items: center;
}

.ticket {
    width: 2.7vw;
    height: 1.8vw;
    background-color: #111;
    border-radius: 100px;
    border: 2px solid grey;
    color: white;
    font-size: 1vw;
    vertical-align: center;
    padding-top: 0.9vw;
    display: inline-block;
    margin: 3px;
    text-align: center;
    box-shadow: 0 1px rgba(0, 0, 0, 0.7);
    z-index: 100;
    font-family: serif;
}

.ticket:hover{
    transform: translateX(-10px);
}

.ticket-recent{
    box-shadow: 0 1px 10px rgba(255, 255, 0, 0.7);
}


#right-player-column {
    top: 0;
    right: 0;
}

#right-player-column-right {
    top: 0;
    right: 0;
}

#left-player-column {
    top: 0;
    left: 0;
}

#left-player-column-right {
    top: 0;
    right: 0;
}

#drawing-area-wrapper {
    display: flex;
    align-items: center;
    height: 99vh;

}

#drawing-area {
    width: calc(40% - 60px);
    margin-left: calc(30% + 30px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#admin-area {
    background-color: beige;
    width: calc(100% - 10px);
    position: fixed;
    bottom: -1vh;
    height: 30vh;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 5px;
    border-top: 1px solid black;
    border-radius: 10px;
    transition: bottom 0.5s ease-out;
    z-index: 1000;
}

#admin-area > div {
    width: 100%
}

#participant-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#participant-area label {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}

#button-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media screen and (orientation: portrait) {
    .player-column {
        width: 48%;
        height: 55%;
        border: none;
    }

    #drawing-area-wrapper {
        position: absolute;
        bottom: 0;
        height: 40vh;
    }

    #drawing-area {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: center;
    }

    .ticket {
        width: 2.7vh;
        height: 1.8vh;
        font-size: 1vh;
        padding-top: 0.9vh;
    }
}


.caret {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
}

.caret:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.caret:after {
    content: '';
    position: absolute;
    left: 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.caret-top:before {
    border-bottom: 30px solid #565353;
}

.caret-top:after {
    border-bottom: 20px solid beige;
    top: 10px;
}

.caret-bottom:before {
    border-top: 30px solid #565353;
}

.caret-bottom:after {
    border-top: 20px solid beige;
    top: 0;
}

button {
    cursor: pointer;
    margin: 30px;
    border-radius: 2px;
    width: 140px;
    height: 60px;
}

button:disabled {
    cursor: unset;
}

.settings-button{
    height: 30px;
    width: 80px;
    margin: 2px;

}

.first {
    background-color: goldenrod;
}

.second {
    background-color: #dedede;
}

.third {
    background-color: #dc8127;
}

.winner {
    background-color: #71ba25;
}

.loser {
    background-color: #565353;
}

.consolation {
    background-color: lightblue;
}

.move {
    --speed: 2s;
    --start-pos-x: 1px;
    --end-pos-x: 1px;
    --start-pos-y: 1px;
    --end-pos-y: 1px;
    --middle-pos-x: 1px;
    --middle-pos-y: 1px;
    position: relative;
    -webkit-animation: pick var(--speed) ease 0s 1 normal forwards;
    -o-animation: pick var(--speed) ease 0s 1 normal forwards;
    animation: pick var(--speed) ease 0s 1 normal forwards;
    animation-iteration-count: 1;
    transform: translate(calc(var(--start-pos-x) - var(--end-pos-x)), calc(var(--start-pos-y) - var(--end-pos-y)));
}

@keyframes pick {
    0% {
        transform: translate(calc(var(--start-pos-x) - var(--end-pos-x)), calc(var(--start-pos-y) - var(--end-pos-y)));
        z-index: 101;
    }

    50% {
        transform: translate(calc(var(--middle-pos-x) - var(--end-pos-x)), calc(var(--middle-pos-y) - var(--end-pos-y))) scale(2);
        z-index: 200;
    }

    100% {
        transform: none;
        z-index: 101;
    }

}